%h1 Logged In
%p
  Currently logged in as
  = locals[:email]

%h2 Your Devices:
= "You don't have any devices connected to this account yet" if devices.length == 0
- devices.each do |d|
  %li
    = d.alexa_user_id
    = haml :'partials/delete_device', locals: {device_id: d.id}

%h3 Activate a new device:
/ NOTE: very important to pass in all the locals when loading a partial
= haml :'partials/activate_form_partial', locals: locals

%h2 Your Stops:
= "You don't have any stops connected to this account yet" if stops.length == 0
- stops.each do |s|
  %li
    = "#{s.name} (MTA Stop ID: #{s.mta_stop_id})"
    = haml :'partials/delete_stop', locals: {stop_id: s.id}

%h3 Add a new stop:
/ NOTE: very important to pass in all the locals when loading a partial
= haml :'partials/stops_partial', locals: locals

%a{href: '/logout'} (logout)
